
.App {
  position: relative;
  background-image: linear-gradient(#edecec, #ffffff, #edecec);
  height: 100vh;
}

.title-bar {
  background: -moz-linear-gradient(
    0% 50% 0deg,
    rgba(255, 80, 80, 1) 0%,
    rgba(255, 110, 68, 1) 26.33%,
    rgba(255, 134, 59, 1) 53.34%,
    rgba(255, 148, 53, 1) 78.56%,
    rgba(255, 153, 51, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 80, 80, 1) 0%,
    rgba(255, 110, 68, 1) 26.33%,
    rgba(255, 134, 59, 1) 53.34%,
    rgba(255, 148, 53, 1) 78.56%,
    rgba(255, 153, 51, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(0, rgba(255, 80, 80, 1)),
    color-stop(0.2633, rgba(255, 110, 68, 1)),
    color-stop(0.5334, rgba(255, 134, 59, 1)),
    color-stop(0.7856, rgba(255, 148, 53, 1)),
    color-stop(1, rgba(255, 153, 51, 1))
  );
  background: -o-linear-gradient(
    0deg,
    rgba(255, 80, 80, 1) 0%,
    rgba(255, 110, 68, 1) 26.33%,
    rgba(255, 134, 59, 1) 53.34%,
    rgba(255, 148, 53, 1) 78.56%,
    rgba(255, 153, 51, 1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(255, 80, 80, 1) 0%,
    rgba(255, 110, 68, 1) 26.33%,
    rgba(255, 134, 59, 1) 53.34%,
    rgba(255, 148, 53, 1) 78.56%,
    rgba(255, 153, 51, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5050', endColorstr='#FF9933' ,GradientType=0)";
  background: linear-gradient(
    90deg,
    rgba(255, 80, 80, 1) 0%,
    rgba(255, 110, 68, 1) 26.33%,
    rgba(255, 134, 59, 1) 53.34%,
    rgba(255, 148, 53, 1) 78.56%,
    rgba(255, 153, 51, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5050',endColorstr='#FF9933' , GradientType=1);
}

.options-bar{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
}

.objects-bar{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
}
.icons {
  background: #f2f2f2;
  background: rgba(242, 242, 242, 1);
  border-radius: 58px;
  -moz-border-radius: 58px;
  -webkit-border-radius: 58px;
}

.icons-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}
